.flexCalendar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.flexCalendar img{
    height: 18px;
    width: 20px;
}
.datePicker {
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #212121;
    border: none;
    width: 138px;
    height: 20px;
    text-align: center;
}
.datePicker input::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: blue;
}
/*.datePicker:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-color:red;*/
/*    width: 5px;*/
/*    height: 5px;*/
/*}*/


@media screen and (min-width: 768px) {
    .flexCalendar{
        margin-top: 100px;
        margin-bottom: 60px;
    }
    .datePicker {
    width: 219px;
    height: 38px;
    font-size: 34px;
    line-height: 41px;
    }
}

@media screen and (min-width: 1280px) {
    .flexCalendar{
        margin-top: 135px;
        margin-bottom: 60px;
    }
    .datePicker {
    width: 219px;
    height: 38px;
    font-size: 34px;
    line-height: 41px;

    }
}