.emptyDiary{
    font-family: Verdana;
    /* text-shadow: 12px 9px 20px black; */
    font-weight: bold;
    font-size: 22px;
}
.diaryProductList {
    height: 210px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 60px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.diaryProductListItem {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    padding-right: 12px;
    align-items: flex-end;
}

.diaryProductListName {
    width: 138px;
    min-height: 26px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 9px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #212121;
}

.diaryProductListWeight {
    width: 50px;
    height: 26px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 10px;


    font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #212121;
}

.diaryProductListCcal {
    width: 80px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 10px;


    font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #212121;
}

.diaryProductListButton {
    width: 12px;
    height: 35px;
    border: none;
    background-color: transparent;
    color: #9B9FAA;
}

.diaryButtonRounded {
    border-radius: 50%;
    background: #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    width: 50px;
    height: 50px;
    border: none;
    display: block;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;


    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
line-height: 17px;

letter-spacing: 0.04em;

color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .emptyDiary{
        font-size: 30px;
    }
    .diaryProductList {
        align-items: unset;
        margin-top: 95px;
        height: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .diaryProductListItem {
        /* justify-content: space-between; */
        /*align-items: center;*/
        padding-right: 31px;
    }

    .diaryProductListName {
        width: 240px;
        /* height: 35px; */
        margin-right: 30px;
    }

    .diaryProductListWeight {
        width: 105px;
        height: 35px;
        text-align: right;
        margin-right: 30px;
    }

    .diaryProductListCcal{
        width: 105px;
        height: 35px;
        text-align: right;
        margin-right: 30px;
    }



    .diaryButtonRounded {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .emptyDiary{
        font-size: 30px;
    }
    .diaryProductList {
        width: 600px;
        align-items: unset;
        margin-top: 100px;
        height: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .diaryProductListItem {
        /* justify-content: space-between; */
        align-items: center;
        padding-right: 6px;
        margin-top: 7.5px;
        margin-bottom: 7.5;
    }

    .diaryProductListName {
        width: 240px;
        height: 35px;
        margin-right: 30px;
    }

    .diaryProductListWeight {
        width: 105px;
        height: 35px;
        text-align: right;
        margin-right: 30px;
    }

    .diaryProductListCcal{
        width: 105px;
        height: 35px;
        text-align: right;
        margin-right: 30px;
    }

    .diaryProductListButton {
        width: 12px;
        height: 12px;
        padding-right: 42px;
    }

    .diaryButtonRounded {
        margin: 0;
    }
}