.borderBotom{border-bottom: 1px solid #e0e0e0;}
.navContainer{
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    
}
.linkWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}
.error{ 
    z-index: 2;
    text-align: center;
    color: red;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
@media screen and (min-width: 768px){
.navContainer {
    
    width: 768px;
    padding: 0 87px;
    margin: 0 auto;
    
}

}
@media screen and (min-width: 1280px){
.navContainer {
    position: absolute;
    z-index: 10;
    top: 80px;
    width: 768px;
    /* padding: 40px 115px; */
    margin: 0;
    border-bottom: none;
}
 .linkWrapper{

width: 430px;
}
.borderBotom{
    border-bottom: none;
}
}


@media screen and (min-width: 1280px){
 
}
.imageLink{
background-image: url("../../../img/logo-mob.png");
width: 46.67px;
height: 44px;
background-repeat: no-repeat;
background-position: center;
}
.imageLinkAuth{
background-image: url("../../../img/svg/logoTablet.svg");
width: 166.41px;
height: 63px;
background-repeat: no-repeat;
background-position: center;
}
 @media screen and (min-width: 768px) {
      .imageLink{
          background-image: url("../../../img/svg/logoTablet.svg");
          width: 166.41px;
            height: 63px;
          background-repeat: no-repeat;
          background-position: center;
      }
    }
 @media screen and (min-width: 1280px) {
      .imageLink{
          background-image: url("../../../img/svg/logoDesktop.svg");
          width: 166.41px;
            height: 63px;
          background-repeat: no-repeat;
          background-position: center;
      }
      .navList{
        margin-top: 45px;
    border-left: 2px solid #E0E0E0;
    padding: 10px 0 10px 22px;
}
    }


