.AuthFormContainer{ 

  font-family: GothamPro-Bold;
  font-size: 14px;
  line-height: 0.93;
  letter-spacing: 0.04em;
  width: inherit;
  height: 100vh;
}
  .navContainer{
      display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 18px 15px;
    flex-direction: column;


    }
  .authTitle {
 font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 13px;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-bottom: 60px;
color: #FC842D;


   
  }
  .form{
      display: flex;
    flex-direction: column;
    align-items: center;
  }
.input{
    border-bottom: 1px solid rgb(224, 224, 224);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 15px 15px 15px 0px;
    width: 289px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9B9FAA;
    outline: none;
    background-color: white;
}

.buttons{
    width: 176px;
    height: 44px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(252, 132, 45);
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21em;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgb(252, 132, 45);
    outline: none;
    margin-top: 60px;
}
.buttons:hover {
    background: rgb(252, 132, 45);
    color: white;
    box-shadow: rgb(252 132 45 / 50%) 0px 4px 10px;
}

@media screen and (min-width: 768px) {
  .AuthFormContainer{ 
    background-size: cover; 
  background: url(../../img/leaves-login-tablet@1x.png), url(../../img/strawberry@1x.png), url(../../img/banana@1x.png), url(../../img/spot-tablet.png);

  background-repeat: no-repeat, no-repeat, no-repeat,no-repeat;
    background-position:0px -184px ,477px 215px,277px 400px,247px 240px}
    .navContainer{
      width: 768px;
    padding: 92px;
    align-items: flex-start;
    padding-top: 191px;
   ;
  }
}
@media screen and (min-width: 1280px){
  .AuthFormContainer{
    background-size: cover; 
  background: url(../../img/leaves-login@1x.png), url(../../img/strawberry@1x.png), url(../../img/banana@1x.png), url(../../img/spot-login.png);

  background-repeat: no-repeat, no-repeat, no-repeat,no-repeat;
    background-position:274px -26px ,right 176px,712px 340px,right top;}
  .navContainer{
    width: 1280px;
    padding:115px;
     /* align-items:center; */
    padding-top: 213px;
 
  }
}

